h1 {
        color: red;
        text-decoration: underline;
        font-family: 'MaPolicePersonnalisée', arial;
        font-size: 50px;
}

p {
  font-weight: bold; /* Met le premier paragraphe en gras */
  font-size: 20px;
  color: white;
  
}

* {
  font-family: 'MaPolicePersonnalisée', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h2 {
    color: white;
    text-decoration: underline;
    font-family: 'MaPolicePersonnalisée', arial;
}

h3 {
  color: #179498;
  text-decoration: underline;
  font-family: 'MaPolicePersonnalisée', arial;
  font-size: 25px;
}

h4 {
  text-decoration: underline;
}

main {
  text-align: left;
  font-size: 20px;
  color: black;

}


 img {
  border-radius: 50%;
 }


aside {
  background-color: #179498;
  width: 310px; /* Largeur spécifique */
  height: 1300px; /* Hauteur spécifique */
  font-size: 20px;
  
}

footer {
  background-color: #179498;
  width: 1680px; /* Largeur spécifique */
  height: 28px; /* Hauteur spécifique */
}


section {
  font-size: 25px;
  color: black;

  
}

header {
  background-image: url('photo_fond.jpg');
  background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
}

